.logo {

    max-width: 1.2rem;
}

.developer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.footerContent {
    display: flex;
    flex-direction: column;
    gap: 0;

}

.footer {
    flex: 0 0 auto;
    font-size: clamp(0.65rem, 1.5vh, 0.85rem);
    line-height: 1.2;
}

.footer p {
    margin: 0.2rem 0;
    color: rgb(226, 226, 226);
}
